<!-- редактирование/создание задачи-->
<!-- class="dialog-task-title" -->
<mat-dialog-content>
    <p mat-dialog-title>{{dialogTitle}}</p>
    <!-- название задачи -->
    <mat-form-field>
        <mat-label>Назва (обов*язково)</mat-label>
        <input #inputTitle matInput [(ngModel)]="tmpTitle" (keydown.enter)="onConfirm()">
        <button *ngIf="tmpTitle.trim().length > 0"
            mat-button matSuffix mat-icon-button aria-lable="Clear"
            (click)="tmpTitle=''" class="size25">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-form-field>

    <!-- выпадающий список категорий -->
    <mat-form-field>
        <mat-label>Оберіть категорію</mat-label>
        <mat-select [(ngModel)]="tmpCategory">
            <mat-option [value]="null">Без категорії</mat-option>
            <mat-option *ngFor="let cat of categories" [value]="cat">{{cat.title}}</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>

<!-- кнопки возможных действий -->
<mat-dialog-actions>
    <button
        mat-raised-button color="primary"
        (click)="onConfirm()"
        [disabled]="inputTitle.value.trim().length==0"> <!-- if text is empty -> button will be no active -->
        Зберегти
    </button>

    <button mat-raised-button (click)="onCancel()">Відміна</button>
</mat-dialog-actions>
