<!--<app-todo-item [todoTasks]='todoItems'></app-todo-item>
<app-todo-item (taskEventEmitter)='appAddTask($event)'></app-todo-item>
<app-todo-list-item [taskList]='todoItems'></app-todo-list-item>-->



<div class="wrapper ">

  <app-categories (selectCategory)="onSelectCategory($event)" [categories]="categories"
    (deleteCategory)="onDeleteCategory($event)" (updateCategory)="onUpdateCategory($event)"
    (addCategory)="onAddCategory($event)" (searchCategory)="onSearchCategory($event)"
    [selectedCategory]="selectedCategory" [categoryMap]="categoryMap" [uncompletedTotal]="uncompletedTotalTasksCount"></app-categories>


  <div class="main-panel">

    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">

      <app-header (toggleStat)="toggleStat($event)" [categoryName]="selectedCategory.id !==0 ? selectedCategory.title: 'Всі'"
        [showStat]="showStat">
      </app-header>

    </nav>

    <div class="content">
      <div class="container-fluid">

        <app-stat [completeTasksInCategory]="completedCountInCategory" [showStat]="showStat"
          [totalTasksInCategory]="totalTasksCountInCategory" [uncompleteTasksInCategory]="uncompletedCountInCategory">
        </app-stat>

        <div class="row">
          <div class="col-md-12">

            <app-tasks [tasks]="tasks" [priorities]="priorities" (updateTask)="onUpdateTask($event)"
              (deleteTask)="onDeleteTask($event)" (selectCategory)="onSelectCategory($event)"
              (addTask)="onAddTask($event)" (filterByTitle)="onSearchTasks($event)"
              (filterByStatus)="onFilterTasksByStatus($event)" (filterByPriority)="onFilterTasksByPriority($event)">
            </app-tasks>

          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>

  </div>
</div>