<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">

  <div class="logo">
    <a class="simple-text logo-normal">
      Категорії
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">

      <li class="nav-item category" (click)="showAllTasksCategories()" [class.active]="selectedCategory.id === 0">
        <a class="nav-link pointer">
          <span class="all-category-title">Усі</span>
        </a>
      </li>

      <div class="line"></div>

      <li (click)="showTasksByCategory(category)" *ngFor="let category of categories" class="nav-item pointer"
        [class.active]="category === selectedCategory">

        <a class="nav-link">
          <p>{{category.title}}</p>
        </a>

      </li>
    </ul>
  </div>
</div>