<div class="sidebar" data-color="purple" data-background-color="white">

  <div id="categories">
    <div class="logo">

      <span class="nav-title">Категорії</span>
      <!-- іконка додати категорію -->
      <span class="add-icon-area">
        <button mat-icon-button class="add-icon" (click)="openAddDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </span>
    </div>

    <div class="sidebar-wrapper">
      <ul class="nav">

        <!--  пошук категорій -->
        <div class="search-category-area">

          <mat-form-field class="example-full-width">
            <input #inputSearchCategory (keydown.escape)="searchCategoryTitle = ''; search()" (keyup)="search()"
              [(ngModel)]="searchCategoryTitle" matInput maxlength="256" placeholder="Пошук категорій" />

            <button (click)="searchCategoryTitle = ''; search()" *ngIf="inputSearchCategory.value.trim().length > 0"
              aria-label="Clear" class="search-category-button size25 gray" mat-button mat-icon-button matSuffix>
              <mat-icon>clear</mat-icon>
            </button>
          </mat-form-field>

        </div>


        <li class="nav-item category" (click)="onShowAllTasksCategories()" [class.active]="selectedCategory.id===0">
          <a class="nav-link pointer">
            <span class="all-category-title">Всі</span>
            <span class="uncompleted-count">{{uncompletedTotal}}</span>
          </a>
        </li>

        <div class="line"></div>

        <div *ngIf="categories.length === 0">
          <p class="not-found">Нічого незнайдено</p>
        </div>

        <li (click)="onShowTasksByCategory(mapValue.key)" *ngFor="let mapValue of selectedCategoryMap | keyvalue; let index=index"
          class="nav-item pointer" [class.active]="mapValue.key === selectedCategory" (mouseleave)="onShowEditIcon(-1)"
          (mouseenter)="onShowEditIcon(index)">

          <a class="nav-link">
            <span class="category-title">{{mapValue.key.title}}</span>
            <span class="edit-category-icon-aria">
              <mat-icon (click)="$event.stopPropagation(); onOpenEditDialog(mapValue.key)" *ngIf="indexMouseMove === index"
                class="edit-category-icon">edit</mat-icon>
            </span>
            <span class="uncompleted-count">{{mapValue.value}}</span>
          </a>
          
        </li>
      </ul>
    </div>

    <div class="sidebar-background"></div>

  </div>
</div>