<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Стан справ</h4>
  </div>
  <div class="card-body table-responsive" *ngIf="tasks && tasks.length > 0">

    <table [dataSource]="dataSource" mat-table matSort>

      <!-- колір приорітету -->
      <ng-container matColumnDef="color">
        <th *matHeaderCellDef mat-header-cell></th>
        <td class="col-color" *matCellDef="let task" [style.background-color]="getPriorityColor(task)" mat-cell></td>
      </ng-container>

      <!-- нумерація -->
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell></th>
        <td class="col-id" *matCellDef="let index = index;" mat-cell>
          {{index + 1}}
        </td>
      </ng-container>

      <!-- назва справи (click)="onClickTask(task) -->
      <ng-container matColumnDef="title">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Опис</th>
        <td class="col-title" *matCellDef="let task" [class.completed]="task.completed" class="col-title pointer" mat-cell
        (click)="openEditTaskDialog(task)">
          {{task.title}}
        </td>
      </ng-container>

      <!-- дата виконання -->
      <ng-container matColumnDef="date">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Термін</th>
        <td class="col-date" *matCellDef="let task" [ngClass]="{'completed': task.completed, 'novalue': task.date == null}" mat-cell>
          {{task.date | taskDate}}
        </td>
      </ng-container>

      <!-- приорітет -->
      <ng-container matColumnDef="priority">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Приорітет</th>
        <td class="col-priority" *matCellDef="let task" [ngClass]="{'completed': task.completed, 'novalue': task.priority == null}"
          mat-cell>
          {{task.priority ? task.priority.title : "немає"}}
        </td>
      </ng-container>

      <!-- категорія -->
      <ng-container matColumnDef="category">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Категорія</th>
        <td class="col-category" *matCellDef="let task"
          [ngClass]="{'completed': task.completed, 'novalue': task.category == null}"
          mat-cell>
          {{task.category ? task.category.title : "немає"}}
        </td>
      </ng-container>

      <!--  хедер таблиці-->
      <tr *matHeaderRowDef="displayedColumns; " mat-header-row></tr>

      <!--  строки таблиці - набір строк з тегів td (порядок вказуеться в зміній displayedColumns) -->
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>


    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons #matPaginator></mat-paginator>
  </div>
  <div *ngIf="tasks && tasks.length == 0">
    <p class="not-found">Нічого не знайдено</p>
  </div>
</div>


<!-- <thead class="text-warning">
      <th>#</th>
      <th>Назва</th>
      <th>Категорія</th>
      <th>Пріоритет</th>
      <th>Дата</th>
      <th>Статус</th>

      </thead>
      <tbody>
      <tr *ngFor="let task of tasks; let i = index" [class.completed]="task.completed">
        <td>{{i + 1}}</td>
        <td>{{task.title}}</td>
        <td [class.novalue]="task.category == null">{{task.category != null ? task.category.title : 'немає'}}</td>
        <td [class.novalue]="task.priority == null">{{task.priority != null ? task.priority.title : 'немає'}}</td>
        <td [class.novalue]="task.date == null">{{task.date != null ? (task.date | date:'mediumDate') : 'немає'}}</td>
        <td>{{task.completed}}</td> 

        <div class="form-check">
          <label class="form-check-label">
            <input [checked]="task.completed" class="form-check-input" type="checkbox" value=""
                   (click)="toggleTaskCompleted(task)">

            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
          </label>
        </div>

      </tr>


      </tbody> -->